nuxeo-platform-sync-client-core/src/main/resources/org/nuxeo/vocabularies-config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entries" type="entries" />

  <xs:complexType name="entries">
    <xs:sequence>
      <xs:element name="entry" type="entry" minOccurs="1"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entry">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="label" type="xs:string" use="required" />
    <xs:attribute name="translatedLabel" type="xs:string"
      use="required" />
    <xs:attribute name="parent" type="xs:string" />
    <xs:attribute name="obsolete" type="xs:int" />
  </xs:complexType>

</xs:schema>